.accordion-button:not(.collapsed) {
  background-color: unset !important;
  box-shadow: unset !important;
}
.accordion-button:focus {
  box-shadow: unset !important;
}
.accordion-item {
  border: 2px solid #e0e0e0 !important;
  border-radius: 10px !important;
}
.accordion-header,
.accordion-button {
  border-radius: 10px !important;
}
.labelStyle {
  color: #878789;
}
.toolIcon {
  cursor: pointer;
}
.listName {
  font-size: 23px;
  font-weight: 600;
  color: #000;
}
